.blacknav {
    background: rgba(0,0,0, 0.7);
}

li.pagescroll.active {
    background: rgba(81, 134, 255, 1);
    color: rgba(81, 134, 255, 1);
}

header, hr.star-light::after, section.success, .btn-colorized {
    background: #5186FF;
}

.btn-colorized {
    border-color: #5186FF;
}